<?xml version="1.0"?>
<!--
/**
* PayZQ DI definitions
*
* @category    Inchoo
* @package     PayZQ
* @author      Ivan Weiler & Stjepan Udovičić
* @copyright   Inchoo (http://inchoo.net)
* @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <virtualType name="PayZQ\Model\ConfigProvider" type="Magento\Payment\Model\CcGenericConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="payzq" xsi:type="const">PayZQ\Model\Payment::CODE</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="payzq_config_provider" xsi:type="object">PayZQ\Model\ConfigProvider</item>
            </argument>
        </arguments>
    </type>

</config>
